<a href="https://colab.research.google.com/github/rkydbc/Food-sales-prediction/blob/main/Food_Sales_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd

In [ ]:
sales_predictions = '/content/drive/MyDrive/Colab Notebooks/Coding Dojo/sales_predictions.csv'

# Data Dictionary

---
Variable Name	---- Description

Item_Identifier	---- Unique product ID

Item_Weight	---- Weight of product

Item_Fat_Content	---- Whether the product is low fat or regular

Item_Visibility	---- The percentage of total display area of all products in a store allocated to the particular product

Item_Type	---- The category to which the product belongs

Item_MRP	---- Maximum Retail Price (list price) of the product

Outlet_Identifier	---- Unique store ID

Outlet_Establishment_Year	---- The year in which store was established

Outlet_Size	---- The size of the store in terms of ground area covered

Outlet_Location_Type	---- The type of area in which the store is located

Outlet_Type	---- Whether the outlet is a grocery store or some sort of supermarket

Item_Outlet_Sales	---- Sales of the product in the particular store. This is the target variable to be predicted.

In [ ]:
spred = pd.read_csv(sales_predictions)
spred.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

# Data Cleaning

In [ ]:
spred.shape

(8523, 12)

In [ ]:
spred.isna().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [ ]:
spred = read_csv(join("spred","/content/drive/MyDrive/Colab Notebooks/Coding Dojo/sales_predictions.csv"), sep=",", index_col=False)

In [ ]:
# code from https://medium.com/analytics-vidhya/automatic-missingvalueshandler-library-with-a-random-forest-d8d380da1fe0; random forest imputer
!pip install MissingValuesHandler
from MissingValuesHandler.missing_data_handler import RandomForestImputer
from os.path import join
from pandas import read_csv

In [ ]:
#Main object
random_forest_imputer = RandomForestImputer(spred=spred,
                                            target_variable_name=["Item_Weight", "Outlet_Size"],
                                            forbidden_variables_list=["Item_Identifier", "Item_Identifier", "Item_Weight", "Item_Fat_Content", "Item_Visibility", "Item_Type", "Item_MRP", "Outlet_Identifier", "Outlet_Establishment_Year", "Outlet_Location_Type", "Outlet_Type", "Item_Outlet_Sales", "Item_Weight_imputed"],
                                            training_resilience=3, 
                                            n_iterations_for_convergence=5)

#Setting the ensemble model parameters: it could be a random forest regressor or classifier
random_forest_imputer.set_ensemble_model_parameters(n_estimators=100, additional_estimators=10)

#Launching training and getting our new dataset
imputed_spred = random_forest_imputer.train(sample_size=0.8, 
                                       path_to_save_dataset=join("data", "sales_predictions_no_nan.csv"))


############################################
########## DATA RETRIEVAL ##################
############################################

sample_used                         = random_forest_imputer.get_sample()
features_type_prediction            = random_forest_imputer.get_features_type_predictions()
target_variable_type_prediction     = random_forest_imputer.get_target_variable_type_prediction()
encoded_features                    = random_forest_imputer.get_encoded_features()
encoded_target_variable             = random_forest_imputer.get_target_variable_encoded()
final_proximity_matrix              = random_forest_imputer.get_proximity_matrix()
final_distance_matrix               = random_forest_imputer.get_distance_matrix()
weighted_averages                   = random_forest_imputer.get_nan_features_predictions(option="all")
convergent_values                   = random_forest_imputer.get_nan_features_predictions(option="conv")
divergent_values                    = random_forest_imputer.get_nan_features_predictions(option="div")
ensemble_model_parameters           = random_forest_imputer.get_ensemble_model_parameters()
all_target_value_predictions        = random_forest_imputer.get_nan_target_values_predictions(option="all")
target_value_predictions            = random_forest_imputer.get_nan_target_values_predictions(option="one")


############################################
######## WEIGHTED AVERAGES PLOT ############
############################################

random_forest_imputer.create_weighted_averages_plots(directory_path="graphs", both_graphs=1)


############################################
######## TARGET VALUE(S) PLOT ##############
############################################

random_forest_imputer.create_target_pred_plot(directory_path="graphs")


############################################
##########      MDS PLOT    ################
############################################

mds_coordinates = random_forest_imputer.get_mds_coordinates(n_dimensions=3, distance_matrix=final_distance_matrix)
random_forest_imputer.show_mds_plot(mds_coordinates, plot_type="3d")

TypeError: ignored

In [ ]:
# example of imputing missing values using scikit-learn from https://machinelearningmastery.com/handle-missing-data-python/
from numpy import nan
from numpy import isnan
from pandas import read_csv
from sklearn.impute import SimpleImputer

# mark zero values as missing or NaN
dataset[[1,2,3,4,5]] = dataset[[1,2,3,4,5]].replace(0, nan)
# retrieve the numpy array
values = spred.values
# define the imputer
imputer = SimpleImputer(missing_values=nan, strategy='mean')
# transform the dataset
transformed_values = imputer.fit_transform(values)
# count the number of NaN values in each column
print('Missing: %d' % isnan(transformed_values).sum())

In [ ]:
sdr_spred = spred[spred['Item_Type'] == 'Soft Drinks']
sdr_spred.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
34,DRH01,17.50,Low Fat,0.097904,Soft Drinks,174.8738,OUT046,1997,Small,Tier 1,Supermarket Type1,2085.2856
37,DRZ11,8.85,Regular,0.113124,Soft Drinks,122.5388,OUT018,2009,Medium,Tier 3,Supermarket Type2,1609.9044
68,DRH37,17.60,Low Fat,0.041701,Soft Drinks,164.8526,OUT045,2002,NaN,Tier 2,Supermarket Type1,2302.3364
92,DRI25,19.60,Low Fat,0.033970,Soft Drinks,55.1614,OUT045,2002,NaN,Tier 2,Supermarket Type1,1381.5350

In [ ]:
reg_spred = spred[spred['Item_Fat_Content'] == 'Regular']
reg_spred.head()

In [ ]:
LF_spred = spred[spred['Item_Fat_Content'] == 'Low Fat']
LF_spred.head()

In [ ]:
# fill in missing values for item weight using the mean of items grouped by fat content and type
spred = spred.groupby(['Item_Fat_Content', 'Item_Type'])['Item_Weight'].mean()
spred

## 1) How many rows and columns?

In [ ]:
spred.shape

(8523, 12)

## 2) What are the datatypes of each variable?

In [ ]:
spred.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

## 3) Are there duplicates? If so, drop any duplicates.

In [ ]:
spred.duplicated().any()

False

In [ ]:
spred[spred.duplicated(keep = False)]

Empty DataFrame
Columns: [Item_Identifier, Item_Weight, Item_Fat_Content, Item_Visibility, Item_Type, Item_MRP, Outlet_Identifier, Outlet_Establishment_Year, Outlet_Size, Outlet_Location_Type, Outlet_Type, Item_Outlet_Sales]
Index: []

## 4) Identify missing values.

## 5) Decide on how to address the missing values and do it! (This requires your judgement, so explain your choice).

## 6) Confirm that there are no missing values after addressing them.

## 7) Find and fix any inconsistent categories of data (example: fix cat, Cat, and cats so that they are consistent)

## 8) For any numerical columns, obtain the summary statistics of each (min, max, mean)

# Data Visualisation

## Histogram to view the distributions of various features in your dataset.

## Boxplot to view statistical summaries of various features in your dataset.

## Heatmap of the correlation between features.